<div class="main posts-index">
  <div class="container2">
    <% @posts.each do |post| %>
    <div class ="item">
      <img src = "<%="/food_images/#{post.image_name}"%>">
      <div class="posts-index-item">
        <%= link_to(post.content, "/posts/#{post.id}") %>
      </div>
    </div>
    <% end %>
  </div>
</div>
